Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
# 很重要 对于 HttpBearerAuth 该认证方式
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
