<include file="common/header" />
<link href="__STATIC__/index/css/cart.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/index/css/confirem_order.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__STATIC__/index/js/address.js"></script>
<body>
    <!--顶部导航-->
    <!--顶部导航-->
    <include file="common/common_top" />
    <!--全部分类及搜索-->
    <include file="common/search" />
    <div class="clear"></div>
    <div class="concent">

        <!--地址 -->
        <form action="{:url('Order/Pay')}" method="post">
        <div class="paycont">
            <!--支付方式-->
            <div class="logistics">
                <h3>选择支付方式</h3>
                <ul class="pay-list">
                    <?php if(!is_weixin()):?>
                    <li class="pay taobao selected" value="1"><img src="__STATIC__/index/images/zhifubao.jpg" />支付宝<span></span></li>
                    <?php endif;?>
                    <li class="pay qq <?php if(is_weixin()):?>selected<?php endif;?>" value="2"><img src="__STATIC__/index/images/weizhifu.jpg" />微信<span></span></li>
                    <?php if(is_weixin()):?>
                    <?php $pay_type = 2;?>
                    <?php else:?>
                    <?php $pay_type = 1;?>
                    <?php endif;?>
                    <input type="hidden" name="pay_type" value="{$pay_type}">
                </ul>
            </div>
            <div class="clear"></div>
            <!--订单 -->
            <div class="concent">
                <div id="payTable">
                    <h3>确认订单信息</h3>
                    <div class="cart-table-th">
                        <div class="wp">

                            <div class="th th-item">
                                <div class="td-inner">商品信息</div>
                            </div>
                            <div class="th th-price">
                                <div class="td-inner">单价</div>
                            </div>
                            <div class="th th-amount">
                                <div class="td-inner">数量</div>
                            </div>
                            <!--<div class="th th-oplist">
                                <div class="td-inner">优惠方式</div>
                            </div>-->
                            <div class="th th-sum">
                                <div class="td-inner">小计金额</div>
                            </div>

                        </div>
                    </div>
                    <div class="clear"></div>
                    <volist name="page_data" id="vo">
                    <div class="item-list">
                        <!--店铺订单开始-->
                        <div class="store-order">
                            <!--店铺信息开始-->
                            <div class="bundle-hd">
                                <div class="bd-promos">
                                    <div class="act-promo">
                                        <a href="{$vo['store_ul']}" target="_blank">{$vo['store_name']}</a> <a href="javascript:;"><i class="am-icon-whatsapp online hover"></i></a>
                                    </div>
                                    <div class="bd-has-promo">已享优惠:<span class="bd-has-promo-content">省￥19.50</span>&nbsp;&nbsp;</div>
                                </div>
                            </div>
                            <!--店铺信息结束-->
                            <!--商品订单列表开始-->
                            <volist name="vo['child']" id="v1">
                            <div class="bundle">
                                <div class="bundle-main">
                                    <ul class="item-content clearfix">
                                        <div class="pay-phone">
                                            <li class="td td-item">
                                                <div class="item-pic">
                                                    <a href="{$v1['url']}" class="J_MakePoint" target="_blank">
                                                        <img src="{$v1['goods_thumb']}" class="itempic J_ItemImg"></a>
                                                </div>
                                                <div class="item-info">
                                                    <div class="item-basic-info">
                                                        <a href="{$v1['url']}" class="item-title J_MakePoint" target="_blank">{$v1['goods_name']}</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="td td-info">
                                                <if condition="!empty($v1['spec_data'])">
                                                    <div class="item-props">
                                                        <volist name="v1['spec_data']" id="v2">
                                                            <span class="sku-line" attr_value="{$v2['attr_value']}">{$v2['attr_name']}：{$v2['attr_value']}</span>
                                                        </volist>
                                                    </div>
                                                </if>
                                            </li>
                                            <li class="td td-price">
                                                <div class="item-price price-promo-promo">
                                                    <div class="price-content">
                                                        <em class="J_Price price-now">{$v1['goods_price']}</em>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                        <li class="td td-amount">
                                            <div class="amount-wrapper ">
                                                <div class="item-amount ">
                                                    <span class="phone-title">购买数量</span>
                                                    <div class="sl">
                                                        <span class="buy-num">× {$v1['goods_num']}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="td td-sum">
                                            <div class="td-inner">
                                                <em tabindex="0" class="J_ItemSum number">{$v1['total_price']}</em>
                                            </div>
                                        </li>

                                    </ul>
                                    <div class="clear"></div>

                                </div>
                            </div>
                            <!--商品订单列表结束-->
                            </volist>
                            <div class="clear"></div>
                            <div class="pay-total">

                                <div class="addrees-info">
                                    <p class="address-tit">收货信息：</p>
                                    <p class="address-info">{$vo['address_username']} {$vo['address_moblie']} {$vo['address_province']} {$vo['address_city']} {$vo['address_district']} {$vo['user_address']}</p>
                                </div>
                                <!--留言-->
                                <div class="order-extra">
                                    <div class="order-user-info">
                                        <div id="holyshit257" class="memo">
                                            <label>买家留言：</label>
                                            <input disabled type="text" title="选填,对本次交易的说明（建议填写已经和卖家达成一致的说明）" placeholder="选填,建议填写和卖家达成一致的说明" class="memo-input J_MakePoint c2c-text-default memo-close" value="<if condition="!empty($vo['order_post_script'])">{$vo['order_post_script']}</if>" />
                                            <div class="msg hidden J-msg">
                                                <p class="error">最多输入500个字符</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--优惠券 -->
                                <!--<div class="buy-agio">
                                    <li class="td td-coupon">

                                        <span class="coupon-title">优惠券</span>
                                        <select data-am-selected>
                                            <option value="a">
                                                <div class="c-price">
                                                    <strong>￥8</strong>
                                                </div>
                                                <div class="c-limit">
                                                    【消费满95元可用】
                                                </div>
                                            </option>
                                            <option value="b" selected>
                                                <div class="c-price">
                                                    <strong>￥3</strong>
                                                </div>
                                                <div class="c-limit">
                                                    【无使用门槛】
                                                </div>
                                            </option>
                                        </select>
                                    </li>

                                    <li class="td td-bonus">

                                        <span class="bonus-title">红包</span>
                                        <select data-am-selected>
                                            <option value="a">
                                                <div class="item-info">
                                                    ¥50.00<span>元</span>
                                                </div>
                                                <div class="item-remainderprice">
                                                    <span>还剩</span>10.40<span>元</span>
                                                </div>
                                            </option>
                                            <option value="b" selected>
                                                <div class="item-info">
                                                    ¥50.00<span>元</span>
                                                </div>
                                                <div class="item-remainderprice">
                                                    <span>还剩</span>50.00<span>元</span>
                                                </div>
                                            </option>
                                        </select>

                                    </li>

                                </div>-->
                                <div class="clear"></div>
                            </div>
                            <!--含运费小计 -->
                            <div class="buy-point-discharge ">
                                <p class="price g_price ">
                                    合计（含运费） <span>¥</span><em class="pay-sum">{$vo['real_amount']}</em>
                                </p>
                            </div>
                            <!--信息 -->
                        </div>
                        <!--店铺订单结束-->
                    </div>
                    </volist>
                    <div class="order-go clearfix">
                        <div class="pay-confirm clearfix">
                            <div class="box">
                                <div tabindex="0" id="holyshit267" class="realPay"><em class="t">总计付款：</em>
                                    <span class="price g_price ">
                                <span>¥</span> <em class="style-large-bold-red " id="J_ActualFee">{$count_price}</em>
                                    </span>
                                </div>
                            </div>
                            <div id="holyshit269" class="submitOrder">
                                <div class="go-btn-wrap">
                                    <input type="hidden" name="order_sn" value="{$order_sn}" />
                                    <input type="submit" class="btn-go"  title="点击此按钮，提交订单" value="提交订单" />
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
    <!--底部版权-->
    <include file="common/footer" />
</body>

</html>