<include file="common/header" />
<link href="__STATIC__/index/css/cart.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/index/css/success.css" rel="stylesheet" type="text/css" />
<body>
<!--顶部导航-->
<include file="common/common_top" />
<!--全部分类及搜索-->
<include file="common/search" />
<div class="clear"></div>
<div class="concent">
    <div class="take-delivery">
        <div class="status">
            <h2>您已成功付款</h2>
            <div class="successInfo">
                <ul>
                    <li>付款金额<em>¥{$order_price}</em></li>
                </ul>
                <div class="option">
                    <span class="info">您可以</span>
                    <a href="{:url('UserOrder/index')}" class="J_MakePoint">查看<span>已买到的宝贝</span></a>
                    <a href="{:url('UserOrder/detail',array('order_sn'=>$order_sn))}" class="J_MakePoint">查看<span>交易详情</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--底部版权-->
<include file="common/footer" />
</body>

</html>