@charset "utf-8";

/* CSS Document */

.concent {
    background: #edfed1;
    border: 1px solid #d1eda4;
}

h2,
#success-pay h2 {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 0px;
    border-bottom: 1px dashed #c9c9c9;
}

.successInfo {
    margin-top: 10px;
    display: inline-block;
    margin-left: 0px;
    margin-left: 0px;
    padding: 5px 0px;
    max-width: 547px;
}

.successInfo em {
    color: #f00;
    font-weight: 700;
    margin-left: 5px;
}

.take-delivery li {
    line-height: 28px;
    height: 28px;
}

.status .option {
    margin: 13px 0 25px 0px;
}

.status .option .info {
    margin-right: 10px;
}

.successInfo a span {
    font-size: 13px;
    margin: 0 10px 0 10px;
    color: #f00;
}

.take-delivery {
    background: url(../images/T13iv.XiFdXXa94Hfd-32-32.png) no-repeat scroll 10px 30px transparent;
    padding: 27px 0 27px 60px;
    color: #333;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    margin-top: 0px;
}

.successInfo li {
    font-size: 18px;
}

.footer {
    max-width: 1000px;
    margin: 0px auto;
    margin-top: 10px;
}

.user-info p {
    font-size: 14px;
    padding: 3px 0px;
    margin: 0px 0px;
}

@media only screen and (min-width:640px) {
    .take-delivery {
        background: url(../images/T13iv.XiFdXXa94Hfd-32-32.png) no-repeat scroll 30px 30px transparent;
        padding: 27px 0 27px 76px;
        margin-top: 10px;
        border: none;
    }
    .successInfo {
        padding: 0 0px 0 56px;
    }
    .user-info p {
        font-size: 14px;
    }
    .successInfo {
        margin-left: -56px;
    }
}
